<web-app>
    <servlet>
        <servlet-name>UnsafeCountingFactorizer</servlet-name>
        <servlet-class>org.org.jcip.chapter02.UnsafeCountingFactorizer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnsafeCountingFactorizer</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
